@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

body {
  background-image: url("./images/background2.jpg");
  background-size: cover;
  font-family: "Reenie Beanie", cursive;
}

.input-group {
  margin-top: 2%;
  margin-bottom: 2%;
  form-control {
    font-size: 24px;
  }
}
.container {
  margin: 5%;
  border-radius: 8px;
}
.row {
  margin: 10%;
}
.card-img-top {
  height: 160px;
}
.card {
  margin: 10%;
  height: 20%;
}
.card-body {
  font-family: "Reenie Beanie", cursive;
  color: white;
}
.btn-primary {
  background-color: dimgrey;
}
